<html>
<head>
    <title>Página Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="header">
        <img class="slogan" src="IMG/agenda.png"><h3 class="littleText">CONTROLE DE CAIXA</h3>
        <a href="/calculadora" class="irCalc">CALCULADORA</a>
        <a href="/estoque" class="goStock">CONTROLE DE ESTOQUE</a>
        <A href="/total" class="goTotal">VENDAS TOTAIS</a>
    </div>
        