<html>
<head>
    <title>Editar Estoque</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <div class="header">
    </div>

    <form method="POST" action="/novoestoque" name="novoestoque" class="novoestoque">
        <fieldset>
            <legend>Novo Produto</legend>
            NOVO PRODUTO:
            <input type="text" placeholder="Digite um novo produto" name="product"><br>
            NOME DO FORNECEDOR:
            <input type="text" placeholder="Digite o nome do fornecedor" name="supplier"><br>
            VALOR PAGO:
            <input type="text" placeholder="Digite o valor pago" name="amountpaid"><br>
            VALOR DE VENDA:
            <input type="text" placeholder="Digite o valor de venda" name="salevalue"><br>
            ITENS EM ESTOQUE:
            <input type="text" placeholder="Digite os itens que tem no estoque" name="stockitens"><br>
            ITENS NECESSÁRIOS NO ESTOQUE:
            <input type="text" placeholder="Digitem os itens necessários no estoque" name="minstockitens"><br>
            <a href="/estoque"><input type="submit" value="SALVAR"></a>
        </fieldset>
    </form>
  
    <script>
       
    </script>
</body>