<html>
<head>
    <title>Página Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="header">
        <img class="slogan" src="IMG/agenda.png"><h3 class="littleText">CONTROLE DE CAIXA</h3>
        
    
        
    </div>
        